/* LoginForm.css */
.login-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 20px; /* Добавлено для удобства */
    border: 1px solid #ccc; /* Граница для выделения формы */
    border-radius: 8px; /* Скругление углов */
    /* Убрали фоновый цвет */
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Скругление углов */
    background-color: transparent; /* Прозрачный фон */
    color: #000; /* Цвет текста */
}

.login-form button {
    padding: 15px;
    margin: 5px 0;
    font-size: 20px;
    background-color: #888; /* Цвет кнопок - серый */
    color: white; /* Цвет текста на кнопках */
    border: none; /* Без границы */
    border-radius: 5px; /* Скругление углов кнопок */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.login-form button:hover {
    background-color: #666; /* Цвет кнопки при наведении - темно-серый */
}
